{% extends 'layout.html' %}

{% block content %}
    <form method="POST" action="/adding">

        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(size=64, class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(size=64, class_="form-control") }}
        </div>

        {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                {% for err in errors %}
                    <div class="alert alert-danger" role="alert">
                        Error in <b>{{ field.upper() }}</b> field - {{ err }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {{ form.submit(class_="btn btn-primary") }}

    </form>

{% endblock %}
