{% extends 'layout.html' %}

{% block content %}
    {% for post in posts %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h2><b>"{{ post.title }}"</b> by <b>{{ post.user.username }}</b>
                    <a href="{{ url_for('post', id=post.id) }}"  class="btn btn-info">
                        Detail
                    </a>
                </h2>
            </li>
        </ul>
    {% endfor %}
    <br>
    <div>
        <a href="{{ url_for('adding') }}" class="btn btn-success btn-lg">Create new post</a>
    </div>
{% endblock %}
