<!doctype html>
<html>

<head>
    <title>My Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="My Blog">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

</head>

<body>
<div class="container">

    <div class="jumbotron">
        <h1>This is my the coolest blog!</h1>
        <p>Here you can create and see posts</p>
        <hr class="my-4">
        <a href="{{ url_for('home') }}" class="btn btn-primary">Home</a>
        <a href="{{ url_for('register') }}" class="btn btn-info">Register</a>
        <a href="{{ url_for('login') }}" class="btn btn-dark">Login</a>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
    </div>

    {% block content %}{% endblock %}

</div>
</body>

</html>
