{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><b>"{{ post.title }}"</b> by  <b>{{ post.user.username }}</b></h1>
            <hr class="my-4">
            <p class="lead">{{ post.description }}</p>
        </div>
    </div>

{% endblock %}
